body {

}
#header {
	height: 80px;
	background-color: maroon;
	border: 2px solid white;
	text-align: center;
}
#navbar {
	height: 40px;
	background-color: maroon;
	border: 2px solid white;
	text-align: center;
}
#sidebar {
	height: 400px;
	background-color: maroon;
	border: 2px solid white;
	text-align: center;
}
#maincontent {
	height: 400px;
	background-color: maroon;
	border: 2px solid white;
	text-align: center;
}
#footer {
	background-color: maroon;
	border: 2px solid white;
	text-align: center;
}